.events-container {
  min-height: 300px;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  padding-right: 0.5rem;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item a {
  cursor: pointer;
  color: var(--bs-primary);
}
