<div class="next-steps my-5">
  <h2 class="my-5 text-center">Welcome!</h2>

  <div class="row">
    <div class="col-md-5 mb-4">
      <p>
        This is a sample angular application that demonstrates how to use the
        Control Tower Platform Web Sockets SDK. Use the navbar above to log in
        and view sample pages.
      </p>
      <p>
        A web worker instance is also configured to listen to all events and
        publish toast messages.
      </p>
    </div>

    <div class="col-md"></div>
  </div>
</div>
