<h3>{{title$ | async}}</h3>

<div class="events-container">
  <div class="list-group"
    aria-orientation="vertical">
    <ng-template ngFor
      let-event
      [ngForOf]="realTimeEvents$ | async">
      <div class="list-group-item list-group-item-action flex-column align-items-start mb-3"
        [class]="getActiveClass(event)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{event.eventName}}</h5>
          <small>{{event.eventTime | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</small>
        </div>
        <p class="mb-1">{{event.trigger}}</p>
        <a (click)="openModal(event)">View Raw</a>
      </div>
    </ng-template>
  </div>
</div>
