.nav-container {
  background-color: #09013c;
  color: white;
  min-height: 75px;
}

.nav-link {
  color: white;
}

.ct-logo{
  width: 125px;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
}
