name: Merge on Main
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    if: "!contains(github.event.head_commit.author.name, 'GitHub Action')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 3

    - name: 'Configure NPM'
      run: echo "//registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN" > .npmrc
      env:
        NODE_AUTH_TOKEN: ${{secrets.FIREBEND_NPM_KEY}}

    - run: npm whoami
    - run: echo "NX_HEAD=`git rev-parse HEAD`" >> $GITHUB_ENV
    - run: echo "NX_BASE=`git rev-parse HEAD~1`" >> $GITHUB_ENV
    - run: echo $NX_HEAD
    - run: echo $NX_BASE
    - run: npm ci
    - run: npx nx workspace-lint
    - run: npx nx format:check --verbose
    - run: npx nx affected --target=lint
    - run: npx nx affected --target=test --ci --code-coverage
    - run: ./.github/scripts/pub.sh

    # - name: Build Docs
    #   if: env.flag
    #   run: npm run docs ./libs/web-socket-client/src/index.ts --tsconfig ./libs/web-socket-client/tsconfig.lib.json

    - name: Commit files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git commit -m "Release [skip-ci]"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        tags: true
        force: true
        branch: ${{ github.ref }}
        github_token: ${{secrets.GIT_TOKEN}}
  empty:
    runs-on: ubuntu-latest
    if: success()
    steps:
      - run: echo "Pipeline Succeeded"
